

.wallet{
        display: grid;
        grid-template-columns: 40% 40%;
        margin-left: 10%;
        margin-bottom: 20px;
        gap: 10%;
        }
.card{
  width: 70%;
}

        .title{
          align-items: center;
          text-align: center;
          font-weight: 900;
        }

        .income{
          margin-left: 44%;
          color: green;
        }

        .outcome{
         margin-left: 44%;
          color: red;
        }